body{
    width: 100%;
    background-color: #8E6B40;
    margin: 0;
    font-family: "AlexandriaFLF";
}

a {
    text-decoration: none;
}

body ul {
    list-style-type: none;
}

/*Poimpoijpoijpoijpoij*/
.wrapper {
    width: 996px;
    background-color: #5C3B22;
    margin: 0 auto;
}

header img {
    margin: 32px 725px 10px 30px;
}

nav ul {
    font-size: 0;
    margin: 0px 30px 20px -15px;
}

nav li {
    display: inline-block;
    margin-right: 0px;
    width: 187px;
    background-color:#8E6B40;
}

nav li:last-child {
    margin-right: 0px;
}

nav li 

h1 {
    font-size: 18px;
    color: #5C3B22;
    display: inline-block;
    padding: 5px;
}

h2 {
    font-size: 14px;
    border-bottom: 3px solid #FFDC92;
    padding-bottom: 5px;
    margin: auto;
}

h3 {
    font-size: 12px;
    margin: auto;
    color: #FFDC92;
}

body content img {
    margin: 0px 30px;
}

body content .news {
    width: 568px;
    margin: 20px 0 0 20px;
    color: #FFDC92;
    font-family: "AlexandriaFLF";
    border: 5px solid #8E6B40;
    border-radius: 10px;
    padding: 20px;
    float: left;
}

body content .news ul {
    padding: 0;
    position: relative;
}

body content .news dl {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

body content .news dl dt {
    display: table-cell;
    width: 65%;
    padding: 0;
    font-size: 12px;
}

body content .news dl dt p {
    margin: auto;
}

body content .news dl dd {
    display: table-cell;
    padding: 0;
    position: absolute;
    right: 0;
}

body content .sns {
    display: block;
    width: 318px;
    border: 5px solid #8E6B40;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    float: left;
}

footer {
    font-size: 10px;
    color: #FFDC92;
    background-color: #8E6B40;
    clear: both;
}

footer p {
    text-align: center;
    padding: 1px;
}
